* {
  margin: 0;
}

html,
body {
  height: 100%;
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}
nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin-left: 0 5px 0 5px;
}

h1 {
  padding-left: 1em;
  padding-top: 1em;
}

article {
  padding: 2em;
  background-color: #004d99;
  max-width: 100%;
}

aside > img {
  text-align: center;
  object-fit: cover;
  width: 100%;
}

article > img {
  text-align: right;
  width: 40%;
}

aside > p {
  margin: 0.5rem;
}

p {
  margin: 0.5em 0 0.5em 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3333ff;
  padding: 10px;
}

.test{
  display:flex;
}

footer {
  display: block;
  background-color: #3333ff;
  padding: 15px;
  width: 100%;
}

main {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

.columns {
  display: flex;
}

/* Players */
.player {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: #990000;
  border: solid 1px #ccc;
}

.player img {
  width: 100%;
}

.player .gamertag {
  font-weight: bold;
}

.player .columns {
  width: 100%;
}

.player .team {
  text-align: right;
}

.player .columns div {
  width: 50%;
}

.player button {
  background-color: #009900;
  padding: 10px;
  border: solid 1px #990000;
  border-radius: 3px;
  color: #fff;
}
